<%= simple_form_for(@transfer) do |f| %>
  <%= f.error_notification %>

  <%= f.input :date, as: :string %>
  <%= f.input :payee %>
  <%= f.input :memo %>

  <div class="well well-sm">
    <%= f.label :journals %>
    <%= f.fields_for :journals do |builder| %>
      <%= render 'journal_fields', :f => builder %>
    <% end %>

    <div>
      <%= link_to_add_fields "Add Journal", f, :journals %>
    </div>
  </div>

  <%= f.button :submit %>
<% end %>
