<% title 'Balance Sheet' %>

<p>
  <%= link_to 'Back', reports_path, class: 'btn btn-default' %>
</p>


<table class="table table-bordered table-condensed">
  <tr>
    <td colspan=3><b>Assets</b></td>
  </tr>

  <% @assets.each do |account| %>
    <tr>
      <td></td>
      <td><%= account.name %></td>
      <td style='text-align: right'><%= currency account.balance %></td>
    </tr>
  <% end %>

  <tr>
    <td></td>
    <td><b>TOTAL</b></td>
    <td style='text-align: right'><b><%= currency -@assets.includes(:journals).sum(:amount) %></b></td>
  </tr>

  <tr>
    <td colspan=3><b>Liabilities</b></td>
  </tr>

  <% @liabilities.each do |account| %>
    <tr>
      <td></td>
      <td><%= account.name %></td>
      <td style='text-align: right'><%= currency account.balance %></td>
    </tr>
  <% end %>

  <tr>
    <td></td>
    <td><b>TOTAL</b></td>
    <td style='text-align: right'><b><%= currency -@liabilities.includes(:journals).sum(:amount) %></b></td>
  </tr>
  <tr>
    <td colspan=2><b>NET WORTH</b></td>
    <td style='text-align: right'><b><%= currency -@assets.includes(:journals).sum(:amount) - @liabilities.includes(:journals).sum(:amount) %></b></td>
  </tr>
</table>
