<!DOCTYPE html>
<html>
<head>
  <title>Beans</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <% flash.each do |type, message| %>
    <%= flash_message(type, message) %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
