<% title 'Accounts' %>

<p>
  <%= link_to 'New Account', new_account_path, class: 'btn btn-primary' %>
</p>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th class='balance-column'>Balance</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.name, account_path(account) %></td>
        <td><%= account.type %></td>
        <td><%= account.description %></td>
        <td class='balance-column'><%= currency account.balance %></td>
        <td class='action-column'>
          <%= link_to 'Edit', edit_account_path(account), class: 'btn btn-xs btn-default' %>
          <%= link_to 'Destroy', account_path(account), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
