<% title @account.name %>

<p>
  <%= link_to 'Back', accounts_path, class: 'btn btn-default' %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account.description %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Payee</th>
      <th class="amount-column">Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @account.transactions.each do |transaction, amount| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.type %></td>
        <td><%= transaction.payee %></td>
        <td class="amount-column"><%= currency amount %></td>
        <td class="action-column">
          <%= link_to 'Show', transaction_path(transaction), class: 'btn btn-xs btn-default' %>
          <%= link_to 'Edit', edit_polymorphic_path(transaction), class: 'btn btn-xs btn-default' %>
          <%= link_to 'Destroy', transaction_path(transaction), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
